<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>定</string>
	<string>跪求</string>
	<string>害羞</string>
	<string>汗</string>
	<string>惊吓</string>
	<string>抠鼻</string>
	<string>泪别</string>
	<string>你好</string>
	<string>你牛</string>
	<string>怕了吧</string>
	<string>睡觉</string>
	<string>逃跑</string>
	<string>同情</string>
	<string>笑死了</string>
	<string>疑问</string>
	<string>诱惑</string>
</array>
</plist>
