<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>定</string>
	<key>1</key>
	<string>跪求</string>
	<key>2</key>
	<string>害羞</string>
	<key>3</key>
	<string>汗</string>
	<key>4</key>
	<string>惊吓</string>
	<key>5</key>
	<string>抠鼻</string>
	<key>6</key>
	<string>泪别</string>
	<key>7</key>
	<string>你好</string>
	<key>8</key>
	<string>你牛</string>
	<key>9</key>
	<string>怕了吧</string>
	<key>10</key>
	<string>睡觉</string>
	<key>11</key>
	<string>逃跑</string>
	<key>12</key>
	<string>同情</string>
	<key>13</key>
	<string>笑死了</string>
	<key>14</key>
	<string>疑问</string>
	<key>15</key>
	<string>诱惑</string>
</dict>
</plist>
