<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[憨笑]</key>
	<string>001[憨笑]</string>
	<key>[偷笑]</key>
	<string>002[偷笑]</string>
	<key>[大哭]</key>
	<string>003[大哭]</string>
	<key>[发怒]</key>
	<string>004[发怒]</string>
	<key>[微笑]</key>
	<string>005[微笑]</string>
	<key>[流泪]</key>
	<string>006[流泪]</string>
	<key>[流汗]</key>
	<string>007[流汗]</string>
	<key>[呲牙]</key>
	<string>008[呲牙]</string>
	<key>[晕]</key>
	<string>009[晕]</string>
	<key>[傲慢]</key>
	<string>010[傲慢]</string>
	<key>[色]</key>
	<string>011[色]</string>
	<key>[快哭了]</key>
	<string>012[快哭了]</string>
	<key>[亲亲]</key>
	<string>013[亲亲]</string>
	<key>[抓狂]</key>
	<string>014[抓狂]</string>
	<key>[抠鼻]</key>
	<string>015[抠鼻]</string>
	<key>[震惊]</key>
	<string>016[震惊]</string>
	<key>[鼓掌]</key>
	<string>017[鼓掌]</string>
	<key>[坏笑]</key>
	<string>018[坏笑]</string>
	<key>[鄙视]</key>
	<string>019[鄙视]</string>
	<key>[惊恐]</key>
	<string>020[惊恐]</string>
	<key>[委屈]</key>
	<string>021[委屈]</string>
	<key>[睡觉]</key>
	<string>022[睡觉]</string>
	<key>[困]</key>
	<string>023[困]</string>
	<key>[衰]</key>
	<string>024[衰]</string>
	<key>[疑问]</key>
	<string>025[疑问]</string>
	<key>[调皮]</key>
	<string>026[调皮]</string>
	<key>[敲打]</key>
	<string>027[敲打]</string>
	<key>[吐]</key>
	<string>028[吐]</string>
	<key>[害羞]</key>
	<string>029[害羞]</string>
	<key>[闭嘴]</key>
	<string>030[闭嘴]</string>
	<key>[阴险]</key>
	<string>031[阴险]</string>
	<key>[尴尬]</key>
	<string>032[尴尬]</string>
	<key>[右哼哼]</key>
	<string>033[右哼哼]</string>
	<key>[左哼哼]</key>
	<string>034[左哼哼]</string>
	<key>[嘘]</key>
	<string>035[嘘]</string>
	<key>[爱财]</key>
	<string>036[爱财]</string>
	<key>[得意]</key>
	<string>037[得意]</string>
	<key>[白眼]</key>
	<string>038[白眼]</string>
	<key>[糗大了]</key>
	<string>039[糗大了]</string>
	<key>[美味]</key>
	<string>040[美味]</string>
	<key>[哈欠]</key>
	<string>041[哈欠]</string>
	<key>[咒骂]</key>
	<string>042[咒骂]</string>
	<key>[可怜]</key>
	<string>043[可怜]</string>
	<key>[惊吓]</key>
	<string>044[惊吓]</string>
	<key>[难过]</key>
	<string>045[难过]</string>
	<key>[奋斗]</key>
	<string>046[奋斗]</string>
	<key>[猪头]</key>
	<string>047[猪头]</string>
	<key>[炸弹]</key>
	<string>048[炸弹]</string>
	<key>[咖啡]</key>
	<string>049[咖啡]</string>
	<key>[礼品]</key>
	<string>050[礼品]</string>
	<key>[玫瑰]</key>
	<string>051[玫瑰]</string>
	<key>[凋谢]</key>
	<string>052[凋谢]</string>
	<key>[蜡烛]</key>
	<string>053[蜡烛]</string>
	<key>[爱心]</key>
	<string>054[爱心]</string>
	<key>[心碎]</key>
	<string>055[心碎]</string>
	<key>[示爱]</key>
	<string>056[示爱]</string>
	<key>[太阳]</key>
	<string>057[太阳]</string>
	<key>[月亮]</key>
	<string>058[月亮]</string>
	<key>[蛋糕]</key>
	<string>059[蛋糕]</string>
	<key>[闪电]</key>
	<string>060[闪电]</string>
	<key>[OK]</key>
	<string>061[OK]</string>
	<key>[勾引]</key>
	<string>062[勾引]</string>
	<key>[强]</key>
	<string>063[强]</string>
	<key>[弱]</key>
	<string>064[弱]</string>
	<key>[胜利]</key>
	<string>065[胜利]</string>
	<key>[抱拳]</key>
	<string>066[抱拳]</string>
	<key>[握手]</key>
	<string>067[握手]</string>
	<key>[刀]</key>
	<string>068[刀]</string>
	<key>[喝彩]</key>
	<string>069[喝彩]</string>
	<key>[篮球]</key>
	<string>070[篮球]</string>
	<key>[足球]</key>
	<string>071[足球]</string>
	<key>[乒乓]</key>
	<string>072[乒乓]</string>
	<key>[米饭]</key>
	<string>073[米饭]</string>
	<key>[西瓜]</key>
	<string>074[西瓜]</string>
	<key>[啤酒]</key>
	<string>075[啤酒]</string>
	<key>[便便]</key>
	<string>076[便便]</string>
	<key>[飞机]</key>
	<string>077[飞机]</string>
	<key>[金钱]</key>
	<string>078[金钱]</string>
	<key>[抱抱]</key>
	<string>079[抱抱]</string>
	<key>[可爱]</key>
	<string>080[可爱]</string>
	<key>[撇嘴]</key>
	<string>081[撇嘴]</string>
	<key>[酷]</key>
	<string>082[酷]</string>
	<key>[冷汗]</key>
	<string>083[冷汗]</string>
	<key>[折磨]</key>
	<string>084[折磨]</string>
	<key>[骷髅头]</key>
	<string>085[骷髅头]</string>
	<key>[再见]</key>
	<string>086[再见]</string>
	<key>[擦汗]</key>
	<string>087[擦汗]</string>
	<key>[吓]</key>
	<string>090[吓]</string>
	<key>[菜刀]</key>
	<string>092[菜刀]</string>
	<key>[拳头]</key>
	<string>093[拳头]</string>
	<key>[差劲]</key>
	<string>094[差劲]</string>
	<key>[爱你]</key>
	<string>095[爱你]</string>
	<key>[NO]</key>
	<string>096[NO]</string>
	<key>[飞吻]</key>
	<string>097[飞吻]</string>
	<key>[接吻]</key>
	<string>098[接吻]</string>
	<key>[发抖]</key>
	<string>099[发抖]</string>
	<key>[呕火]</key>
	<string>100[呕火]</string>
	<key>[点头]</key>
	<string>101[点头]</string>
	<key>[回头]</key>
	<string>102[回头]</string>
	<key>[挥手帕]</key>
	<string>103[挥手帕]</string>
	<key>[激动]</key>
	<string>104[激动]</string>
	<key>[跳跳]</key>
	<string>105[跳跳]</string>
	<key>[左太极]</key>
	<string>106[左太极]</string>
	<key>[右太极]</key>
	<string>107[右太极]</string>
	<key>[打太极]</key>
	<string>108[打太极]</string>
	<key>删除</key>
	<string>删除</string>
</dict>
</plist>
